.formulario__aside {
    position: fixed;
    height: 100%;
    padding: 20px 5px;
    background: rgb(194 156 136);
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    width: 250px;

    text-align: center;
}

.formulario__aside p {
    margin-top: 10px;
}

.formulario__aside form {
    margin-top: 10px;
}

.formulario__aside input {
    margin-bottom: 10px;
}

.formulario__tag--mensagem {
    padding-bottom: 40px;
}